body{
    margin: 0;
    background: white;
    height: auto;
    width: 100%;
    color: #0B0C10;
    overflow-x: hidden;
}
p{
    font-family: "Jost-Light", serif;
    font-size: 20px;
}
h1{
    font-family: "Jost-ExtraBold", sans-serif;
    letter-spacing: 2.5px;
}
.leftBlueBorder_cls{
    width: 100%;
    height: auto;
}
.leftBlueBorder_cls::before{
    content:"";
    position: absolute;
    left: -2%;
    top: 0;
    width: 80%;
    height: 100%;
    background-color: rgba(255,255,255,0);
    border-radius: 0 40px 40px 0;
    border: 2px solid #659dbdff;
    transition: all 1s;
}
.trp_hdr{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    height: 48px;
    background: rgba(255,255,255,0.7);
}
.vis_hdr{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 48px;
    background: white;
    border-bottom: 1px solid #659dbdff;
}
.logo{
    position: absolute;
    top: 10%;
    left: 1%;
    width: 15%;
    height: 80%;
}
.partlinks_wrapper{
    display: grid;
    grid-template-columns: repeat(5,minmax(25%,auto));
    grid-column-gap: 5%;
}
.partlinks_pos{
    position: absolute;
    top: 40%;
    right: 20%;
}
.partlink a{
    font-family: "Jost-Light", serif;
    color: #659dbdff;
    text-decoration: none;
}
.main_part{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background-color: white;
    background-image: url("../imgs/mainpart_img.jpg");
    background-size: cover;
    z-index: 6;
}
.main_part::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;//#659dbdff;
    opacity: 0.6;
    transition: all 1s;
}
.underline{
    position: relative;
    top: 100%;
        
    width: 100%;
    height: 20px;
    background: white;
}
.underline_button{
    position: absolute;
    right: 0;
    transform: translateY(-55px);
    width: 30%;
    height: 60px;
    border-radius: 40px 0 0 0;
    background: white;
    text-align: center;
    transition: all 1s;
}
.underline_button:hover{
    transform: translateY(-60px);
}
.underline_button a{
    text-decoration: none;
}
.underline_button a p{
    color: #659dbdff;
}
.aboutus_part{
    position: relative;
    left: 0;
    top: 200px;
}
.aboutus_part p{
    position: relative;
    top: 0;
    left: 4%;
    width: 70%;
    height: auto;
}
.aboutus_part .aboutus_header {
    position: relative;
    top: 0;
    left: 4%;
}
.aboutus_part .aboutus_header svg{
    position: absolute;
    top: 38px;
    left: 0%;
    width: 100px;
    height: 6px;
    overflow: hidden;
}
.aboutus_part .aboutus_header svg rect{
    position: relative;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    fill: #659dbdff;
    transition: all 1s;
}
.aboutus_part:hover::before{
    transform: translateX(2%);
}
.aboutus_part:hover .aboutus_header svg rect{
        width: 100%;
}
#service_part{
    position: relative;
    right: 0;
    top: 400px;
    width: 100%;
    height: auto;
}
#service_part #service_header{
    position: relative;
    top: 0;
    right: 4%;
    text-align: right;
}
#service_part svg{
    position: absolute;
    top: 38px;
    right: 0%;
    width: 465px;
    height: 6px;
    overflow: hidden;
}
#service_part svg rect{
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    fill: #659dbdff;
    transition: all 1s;
}
#service_part:hover #service_header svg rect{
    transform: translateX(0%);
}
#service_part #prices{
    top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    background: blue;
}
#service_part #prices #price_windows_grid{
    position: relative;
    top: 0%;
    left: 0%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 250px 250px;
}
#service_part #prices #price_windows_grid #poverka_window{
    background-image: url("../imgs/poverka.jpg");
}
#service_part #prices #price_windows_grid #techserv_window{
    background-image: url("../imgs/techserv.jpg");
}
#service_part #prices #price_windows_grid #pokazaniya_window{
    background-image: url("../imgs/pokazaniya.jpg");
}
#service_part #prices #price_windows_grid #ins_deinst_window{
    background-image: url("../imgs/inst_deinst.jpg");
}
#service_part #prices #price_windows_grid #sFW_window{
    background-image: url("../imgs/s_f.jpg");
}
#service_part #prices #price_windows_grid #pW_window{
    background-image: url("../imgs/projectdev_works.png");
}
#service_part #prices #price_windows_grid #cD_window{
    background-image: url("../imgs/c_d.jpg");
}
#service_part #prices #price_windows_grid #pI_window{
    background-image: url("../imgs/c_d.jpg");
}
.price_window{
    background-size: 100% 100%;
    overflow: hidden;
    transition: all 1s;
}
.blueCoverEffect{
    margin: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
    left: 0%;
    text-align: center;
    width: 50%;
    height: auto;
    color: white;
    background: #659dbdff;
    opacity: 0.8;
    transition: all 1s;
}
.price_window:hover{
    background-size: 110% 110%;
    background-position-x: -10px;
    background-position-y: -10px;
}
.table_holder{
    position: relative;
    top: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 0;
    overflow: hidden;
    transition: all 1s;
}
#service_part tr{
    width: 100%;
}
#service_part th{
    border-bottom: 2px solid #659dbdff;
    border-left: 2px solid #659dbdff;
    width: 100%;
}
#service_part td{
    width: 5%;
}
.feedback_part{
    position: relative;
    left: 0;
    top: 600px;
    width: 100%;
    height: 500px;
    background: #659dbdff;
}
.feedback_part .feedback_header {
    position: relative;
    top: 5px;
    color: white;
    text-align: center;
}
.scrollmenu {
    position: relative;
    top: 8%;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}
.scrollmenu a{
    position: relative;
    top: 0;
    display: inline-block;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    text-decoration: none;
    background: white;
    width: 250px;
    height: 350px;
}
.scrollmenu a p{
    position: relative;
    top: 40%;
    color: #659dbdff;
    text-decoration: none;
}
.scrollmenu a img{
    position: relative;
    top: -18%;
    left: 0;
    width: 100%;
    height: 100%;
}
.contacts_part{
    position: relative;
    left: 0;
    top: 800px;
}
.contacts_part p{
    position: relative;
    top: 0;
    left: 4%;
    width: 70%;
    height: auto;
}
.contacts_part .contacts_header {
    position: relative;
    top: 0;
    left: 4%;
}
.contacts_part .contacts_header svg{
    position: absolute;
    top: 38px;
    left: 0%;
    width: 165px;
    height: 6px;
    overflow: hidden;
}
.contacts_part .contacts_header svg rect{
    position: relative;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    fill: #659dbdff;
    transition: all 1s;
}
.contacts_part:hover::before{
    transform: translateX(2%);
}
.contacts_part:hover .contacts_header svg rect{
        width: 100%;
}
#bottom_button{
    position: relative;
    top: 1000px;
    left: 40%;
    width: 200px;
    height: 40px;
    border-top: 4px solid #1A1A1D;
    border-right: 4px solid #1A1A1D;
    border-left: 4px solid #1A1A1D;
    border-radius: 20px 20px 0 0;
}
#bottom_button a p{
    position: relative;
    top: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #1A1A1D;
    font-size: 25px;
}
#bottom_button a{
    text-decoration: none;
}
.bottom_part{
    position: relative;
    top: 1000px;
    left: 0;
    width: 100%;
    height: 400px;
    background: #1A1A1D;
}
.bottom_part #blueline{
    position: relative;
    left: 1%;
    top: 20%;
    width: 98%;
    height: 4px;
    background: #659dbdff;
}
.bottom_part #blueline img{
    position: relative;
    top: -40px;
    left: 41%;
    width: 15%;
    background: #1A1A1D;
}
.bottom_part #rights{
    position: relative;
    top: 86%;
    left: 39%;
    color: white;
    font-size: 15px;
}
